* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-image: url(./img/pattern.png);
    background-color: rgb(0, 174, 255);
    margin-bottom: 10px;
    height: 200px;
}
.logo {
    
    height: 50px;
}

.footer {
    color: gray;
    margin-bottom: 20px;
}

.the_booleaner {
    color: rgb(0, 183, 255);
}

.photo_tim {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.complete_lorem {
    font-size: 25px;
    margin-bottom: 25px;
}

.lorem {
    background-color: yellow;
}

ul { 
    margin-left: 21px;
    font-size: 25px;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
}

th {
    width: 500px;
    color: rgba(255, 255, 255, 0.938);
    background-color: rgba(0, 162, 255, 0.603);
    font-size: 25px;
}
