* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_container {
    background-image: url(./img/pattern.png);
    background-color: rgb(0, 174, 255);
    margin-bottom: 10px;
}

.footer {
    color: gray;
    margin-bottom: 20px;
}

.the_booleaner {
    color: rgb(0, 183, 255);
}

.photo_tim {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.complete_lorem {
    font-size: 25px;
    margin-bottom: 25px;
}

.lorem {
    background-color: yellow;
}

ul {
    font-size: 25px;
}
