* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-image: url(./img/pattern.png);
    background-size: contain ;
    background-color: rgb(0, 174, 255);
    margin-bottom: 10px;
    height: 100px;
    padding-top: 40px;
}

.logo {
    height: 50px;
}

.footer {
    color: gray;
    margin-bottom: 20px;
}

.the_booleaner {
    color: rgb(0, 183, 255);
}

.photo_tim {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.complete_lorem {
    font-size: 25px;
    margin-bottom: 25px;
}

.lorem {
    background-color: yellow;
}

ul { 
    margin-left: 21px;
    font-size: 25px;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
    margin-bottom: 25px;
}

thead {
    width: 500px;
    color: rgba(255, 255, 255, 0.938);
    background-color: rgba(0, 162, 255, 0.6);
    font-size: 25px;
}

td {
    width: 500px;
    height: 100px;
    font-size: 20px;
}

.color_row {
    background-color: rgba(151, 221, 253, 0.6);
}

.footer {
    color: grey;
}

.photo_monitor {
    font-size: 30px;
    color: white;
    background-image: url(./img/monitor.jpg);
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.photo_graph {
    font-size: 30px;
    color: white;
    background-image: url(./img/graph.jpg);
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}